<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>View Products</title>
  <!-- BOOTSTRAP CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<header>
  <%- include('partials/nav-bar') %>
</header>
<body>
  <div class="container p-5">
    <div class="column">
      <div class="container">
        <h1>All Products display is here</h1>
      </div>
      <div class="column">
        <div class="column">
    <%      mirrors.forEach(function(row){ %>
    <div class="column">
          <h5><b>Name:</b> <%= row[0]%> </h5>
          <h5><b>Color:</b> <%= row[1]%> </h5>
          <h5><b>Price:</b> <%= row[2]%> </h5>
          <h5><b>Number of bulbs:</b> <%= row[3]%> </h5>
          <h5><b>Dimensions: </b> <%= row[4]%> * <%= row[5]%> * <%= row[6]%></h5>
          <br>
    </div>
    <%      }) %>
    <%      data.forEach(function(row){ %>
    <div class="column">
          <h5><b>Name:</b> <%= row[0]%> </h5>
          <h5><b>Color:</b> <%= row[1]%> </h5>
          <h5><b>Price:</b> <%= row[2]%> </h5>
          <h5><b>Dimensions: </b> <%= row[3]%> * <%= row[4]%> * <%= row[5]%></h5>
          <br>
             <!-- <img src="<%=row[7]%>" alt="" style="width:100%"> -->
    </div>
    <%      }) %>


        </div>
      </div>
      <div class="container p-5">
        <div class="">
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
